:root {
    width: 100vw;
    height: 100vh;
    --card-width: 140px;
    --card-height: 230px;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'ReggaeOne';    
    color: whitesmoke;  
}

.game-container {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/board0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.opponent-info {
    width: 100%;
    height: 10%;
    border-bottom: 3px solid black;
    display: grid;
    grid-template-columns: 100px 1fr 4fr 3fr;    
    text-shadow: #000 3px 3px 3px;
    -webkit-font-smoothing: antialiased;  
}

.opponent-avatar {
    height: 100%;
    width: fit-content;
}

.opponent-avatar > img {
    height: 100%;
    width: fit-content;
    transform: scaleX(-1);
}

.opponent-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opponent-data > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: content;    
}

.opponent-hp {
    background: url(../assets/hpPlayer.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 10px 0 0;
    padding: 40px 20px 40px 20px;
    height: fit-content;
    
}

.opponent-mp {
    background: url(../assets/mpPlayer.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 10px 0 0;
    padding: 20px;
    height: fit-content;
    
}

.opponent-deck {
    background: url(../assets/deck.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 10px 0 0;
    padding: 20px;
    height: fit-content;
    
}

.opponent-data2 {
    padding-bottom: 10px;
}

.message-area {
    width: 100%;
    height: 100%;
    display: flex;
}

.message {
    margin: auto;
    text-align: center;
    font-size: 1.8rem;
}


.player-commands {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timer {
    background: url(../assets/hourglass.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 20px;
    height: fit-content;
    width: fit-content;
}


.hero-power, .end-turn {
    height: fit-content;
    width: fit-content;
    margin: 20px;
    padding: 40px;
    overflow: visible;
    background: url(../assets/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.game-board {
    width: 100%;
    height: 60%;    
    display: flex;
    flex-direction: column;    
}

.opponent-board {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-shrink: 0;
}

.player-board {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-shrink: 0;
}

.player-info {
    width: 100%;
    height: 30%;
    overflow: visible;
    border-top: 3px solid black;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: flex;
    justify-content: space-between;
    align-items:flex-start; */
    display: grid;
    grid-template-columns: 1fr 250px;    
}



.player-hand {
    /* width: 80%; */
    height: 100%;
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
    overflow: visible;   
}

.player-avatar {
    width: 100%;
    height: 200px;
    overflow: visible;
}

.player-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    text-shadow: #000 3px 3px 3px;
    -webkit-font-smoothing: antialiased;    
}

.player-data > div {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;    
}

.player-hp {
    background: url(../assets/hpPlayer.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 10px 0 0;
    padding: 40px 20px 40px 20px;
}

.player-mp {
    background: url(../assets/mpPlayer.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 10px 0 0;
    padding: 20px;
}

.player-deck {
    background: url(../assets/deck.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 10px 0 0;
    padding: 20px;
}

.card {
    /* width: 180px; */
    height: var(--card-height);
    position: relative;
    overflow: visible;
    border-radius: 10px;
    border: ridge rgb(100, 16, 16) 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(211, 187, 82);
    flex-basis: var(--card-width);
    flex-shrink: 0;
    flex-grow: 0;
}

.card-img {
    border-bottom: inset rgb(100, 16, 16) 1px;
    margin: 0;
    padding: 0;
}

.card-mechanic {
    font-family: 'RocknRollOne';
    font-size: 0.7rem;
    font-weight: 200;
    color: rgb(121, 28, 28);
}

.card-dedicated {
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: absolute;
    bottom: 1px;
    font-family: 'RocknRollOne';
    font-size: 0.6rem;
    font-weight: 150;
    color: rgb(248, 243, 201);
    text-align: center;
    text-justify: center;
    font-style: italic;
}

.card-stats {
    width: var(--card-width);
    position: absolute;
    top: -20px;
    right: -110px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space;     */
}

.card-stats > div {
    padding-left: 10px;
    padding-right: 10px;
    width: 40px;
    height: fit-content;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-shadow: #000 3px 3px 3px;
    -webkit-font-smoothing: antialiased;
}


.card-attack {    
    background-image: url("../assets/atk.png");
    background-position: bottom;
}

.card-cost-mp {    
    background-image: url("../assets/mp.png");    
}

.card-hp {
    width: 10px;    
    background-image: url("../assets/hp.png");
    background-size:auto;
}



@font-face {
    font-family: "Triforce";
    src: url("../assets/fonts/Triforce.ttf");
}

@font-face {
    font-family: "AncientHylian";
    src: url("../assets/fonts/AncientHylian.otf");
}

@font-face {
    font-family: "ReggaeOne";
    src: url("../assets/fonts/ReggaeOne-Regular.ttf");
}

@font-face {
    font-family: "RocknRollOne";
    src: url("../assets/fonts/RocknRollOne-Regular.ttf");
}