:root {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;    
}

.game-container {
    width: 100vw;
    height: 100vh;
}

.opponent-info {
    width: 100%;
    height: 10%;
    border-bottom: 3px solid black;
    background-image: url(../assets/borders.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 100%;
    height: 60%;
    background-image: url(../assets/board0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.opponent-board {
    width: 100%;
    height: 35%;
}

.player-board {
    width: 100%;
    height: 65%;
}

.player-info {
    width: 100%;
    height: 30%;
    border-top: 3px solid black;
    background-image: url(../assets/borders.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.player-hand {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.player-hand-card {
    width: 150px;
    height: 220px;
    background-color: rgb(231, 209, 107);
    margin-top: 2%;
}




