:root {
    --candle-light: rgba(252, 217, 23, 0.8);
    width: 100vw;
    height: 100vh;
}


* {
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}


body {
    width: 100vw;
    height: 100vh;
}


.index-background {
    width: 6243px;
    height: 100%;
    background-blend-mode: darken;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url("../assets/WWscroll.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
    animation: slide 200s linear infinite;
}


.main-frame {
    width: fit-content;
    height: fit-content;
    margin: 5%;
    padding: 2%;
    border-radius: 5%;
    position: absolute;
    top: 15%;
    left: 32%;
    background-color: rgba(0, 0, 0, 0.00000000000000000000000001);
    animation: flicker 10s ease-in-out  alternate-reverse infinite;
}


h1 {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-family: 'Triforce';
    font-size: 10em;
    font-weight: 500;
    margin-bottom: 10%;
}


.login-form-frame {
    width: 100%;
    height: fit-content;
    font-family: 'AncientHylian';
    font-size: 2em;    
}


form {
    width: 100%;
    height: fit-content;
}


label {
    margin-top: 5px;
}


form div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


input {
    width: 12em;
    height: 2em;
    text-align: center;
    font-family: 'RocknRollOne';
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 20px 0 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid white;
    margin: 10px;
}


.connnection-error {
    margin-top: 25px;
    font-size: 1rem;
    font-family: 'RocknRollOne';
    color:crimson;
}


button {
    font-family: 'Triforce';
    font-size: 2em;
    border: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.8s;
}


button:hover {
    transform: rotate(90deg);
}



@keyframes slide {
    0% {
      transform: translate(0)
    }
    100% {
      transform: translate(-2081px);
    }
  }

  @keyframes flicker {
	0% {
        box-shadow: 0px 0px 300px 100px rgba(252, 217, 23, 0.5);
        box-shadow: -20px -10px 500px 115px rgba(252, 217, 23, 0.2);

    }
	5% {
		box-shadow: 0px 50px 500px 150px rgba(252, 217, 23, 0.3);
        box-shadow: 0px 0px 300px 100px rgba(252, 217, 23, 0.5);

	}
	10% {
		box-shadow: 50px -50px 500px 200px rgba(252, 217, 23, 0.6);
        box-shadow: 0px 50px 500px 150px rgba(252, 217, 23, 0.3);

	}
	15% {
		box-shadow: -50px 50px 500px 120px rgba(252, 217, 23, 0.6);
        box-shadow: 50px -50px 500px 200px rgba(252, 217, 23, 0.6);

	}
	25% {
		box-shadow: 0px 0px 500px 180px rgba(232, 176, 23, 0.7);
        box-shadow: -50px 50px 500px 120px rgba(252, 217, 23, 0.6);

	}
	30% {
		box-shadow: 50px 50px 500px 80px rgba(252, 217, 23, 0.5);
        box-shadow: 0px 0px 500px 180px rgba(232, 176, 23, 0.7);

	}
	35% {
		box-shadow: 50px 50px 500px 120px rgba(255, 182, 23, 0.2);
        box-shadow: 50px 50px 500px 80px rgba(252, 217, 23, 0.5);

	}
	40% {
		box-shadow: 0px 20px 500px 150px rgba(252, 217, 23, 0.3);
        box-shadow: 50px 50px 500px 120px rgba(255, 182, 23, 0.2);

	}
	45% {
		box-shadow: 10px 40px 500px 180px rgba(252, 160, 23, 0.5);
        box-shadow: 0px 20px 500px 150px rgba(252, 217, 23, 0.3);

	}
	60% {
		box-shadow: -10px 20px 500px 140px rgba(252, 217, 23, 0.3);
        box-shadow: 10px 40px 500px 180px rgba(252, 160, 23, 0.5);

	}
	70% {
		box-shadow: -30px 0px 500px 160px rgba(252, 217, 23, 0.4);
        box-shadow: -10px 20px 500px 140px rgba(252, 217, 23, 0.3);

	}
	80% {
		box-shadow: -20px -20px 500px 140px rgba(252, 217, 23, 0.7);
        box-shadow: -30px 0px 500px 160px rgba(252, 217, 23, 0.4);

	}
	90% {
		box-shadow: -40px -30px 500px 150px rgba(252, 217, 23, 0.5);
        box-shadow: -20px -20px 500px 140px rgba(252, 217, 23, 0.7);

	}
	100% {
		box-shadow: -20px -10px 500px 115px rgba(252, 217, 23, 0.2);
        box-shadow: -40px -30px 500px 150px rgba(252, 217, 23, 0.5);
	}
}



@font-face {
    font-family: "Triforce";
    src: url("../assets/fonts/Triforce.ttf");
}

@font-face {
    font-family: "AncientHylian";
    src: url("../assets/fonts/AncientHylian.otf");
}

@font-face {
    font-family: "RocknRollOne";
    src: url("../assets/fonts/RocknRollOne-Regular.ttf");
}