:root {
    width: 100vw;
    height: 100vh;   
    background-color: black;
    --menu-height: 156px;
    --menu-text-height: 28px;
    --big-menu-text-height: 4px;
}


* {
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
    font-family: 'ReggaeOne';
}


body {
    width: 1920px;
    height: 1080px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-image: url("../assets/jellyshop.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}


.welcome {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 820px;
    left: 1040px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-align: center; 
    font-size: 2rem;
}


.chat-frame {
    width: fit-content;
    height: fit-content;
    position: absolute;
    /* top: 240px; */
    bottom: 480px;
    left: 920px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}


.deck {
    bottom: 158px;
    left: 275px;
    background: url("../assets/deckmenu.png");
}


.play {
    bottom: var(--menu-height);
    left: 845px;
    background: url("../assets/playpotion.png");
}


.practice {
    bottom: var(--menu-height);
    left: 1015px;
    background: url("../assets/practicepotion.png");
}


.stats {
    bottom: var(--menu-height);
    left: 1185px;
    background: url("../assets/statspotion.png");
}


.logout {
    bottom: var(--menu-height);
    left: 1515px;
    background: url("../assets/logoutpotion.png");
}


.menu {
    width: 110px;
    height: 110px;
    position: absolute;
    transition: ease-in-out 150ms;
    cursor: pointer;
}


.menu:hover {
    scale: 1.07;
    rotate: -15deg;
}


.description {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: var(--menu-text-height);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    text-align: center; 
    font-size: 2rem;
}


a {
    position: absolute;
    width: 110px;
    height: 110px;
}


.deck-text {
    bottom: var(--big-menu-text-height);
    left: 275px;
    z-index: 12;
}


.play-text {    
    left: 852px;
}


.practice-text {
    left: 985px;
}


.stats-text {
    bottom: var(--big-menu-text-height);
    left: 1180px;
}


.logout-text {
    left: 1505px;
}


.deck-frame {
    display: none;
    position: fixed;
    border: none;
    top: -100px;
    left: -145px;
    scale: 0.79;
    z-index: 10;
}



@font-face {
    font-family: "ReggaeOne";
    src: url("../assets/fonts/ReggaeOne-Regular.ttf");
}

@font-face {
    font-family: "RocknRollOne";
    src: url("../assets/fonts/RocknRollOne-Regular.ttf");
}