:root {
    --candle-light: rgba(252, 217, 23, 0.8);


    --gris-clair: #37465B;
    --vert-fonce: #08C6AB;
    --vert-clair: #5AFFE7;
    --violet: #726EFF;
    --coins-sections: 10px;
    --coins-boutons: 25px;
    --police: 'Chakra Petch', sans-serif;
    width: 100vw;
    height: 100vh;    
    background-color: black;   
}

* {
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden; 
    /* max-width: 1440px; */
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background-image: url("../assets/jellyshopbig.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: auto;
}

.chat-frame {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 250px;
    left: 920px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}