:root {
    width: 100vw;
    height: 100vh;
    --card-width: 140px;
    --card-height: 230px;
}


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'ReggaeOne';    
    color: whitesmoke;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(../assets/statscards.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}


button {
    margin: 50px;
    padding: 10px;
    padding-bottom: 20px;
    display: none;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: solid antiquewhite 3px;
    text-align: center;
    vertical-align: top;
    font-size: 2rem;
    background-color:darkolivegreen;
    text-shadow: #000 3px 3px 3px;
    -webkit-font-smoothing: antialiased;
}


button:hover {
    cursor: pointer;
}


.stats-container {
    width: 80%;
    flex-basis: 310px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin: auto;    
    /* margin-bottom: 10%; */
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}


::-webkit-scrollbar {
    width: 20px;  
}
  

::-webkit-scrollbar-track {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: #94c1d1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}


::-webkit-scrollbar-thumb:hover {
    background-color: steelblue;
}


.no-stats {
    width: 100%;
    height: fit-content;
    margin: auto;
    font-size: 3rem;
    color: #000;
    text-align: center;
}


.card-info {
    margin: 30px;
    overflow: visible;
}


.card-data > div {
    width: 100%;
    font-family: 'RocknRollOne';
    font-size: 0.7rem;
    font-weight: 200;
    color: black;
    text-align: center;
}


.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    overflow: visible;
    border-radius: 10px;
    border: solid rgb(100, 16, 16) 3px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(196, 178, 99);
    flex-basis: var(--card-width);
    flex-shrink: 0;
    flex-grow: 0;
}


.card-img {
    border-bottom: inset rgb(100, 16, 16) 1px;
    margin: 0;
    padding: 0;
}


.card-mechanic {
    font-family: 'RocknRollOne';
    font-size: 0.7rem;
    font-weight: 200;
    color: rgb(121, 28, 28);
}


.card-dedicated {
    width: 140px;
    height: fit-content;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1px;
    font-family: 'RocknRollOne';
    font-size: 0.5rem;
    font-weight: 150;
    color: black;
    text-align: center;
    text-justify: center;
    font-style: italic;
}


.card-stats {
    margin: 0;
    width: fit-content;
    position: absolute;
    top: -20px;
    right: -31px;
    overflow: visible;
}


.card-stats > div {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 40px;
    height: fit-content;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-shadow: #000 -2px 2px 3px;
    -webkit-font-smoothing: antialiased;
}


.card-attack {    
    background-image: url("../assets/atk.png");
    background-position: bottom;
    margin: 0;
}


.card-cost-mp {    
    background-image: url("../assets/mp.png");
    margin: 0;    
}


.card-hp {
    width: 10px;    
    background-image: url("../assets/hp.png");
    background-size:auto;
    margin: 0;
}



@font-face {
    font-family: "ReggaeOne";
    src: url("../assets/fonts/ReggaeOne-Regular.ttf");
}

@font-face {
    font-family: "RocknRollOne";
    src: url("../assets/fonts/RocknRollOne-Regular.ttf");
}